@tailwind components;

@layer components {

  .footer {
    @apply w-full text-white flex flex-col items-center  bg-red-400;
  }

  .footer-container {
    @apply container px-5 py-4 ml-auto  bg-red-400;
  }

  .footer-text {
    @apply text-sm font-semibold text-white xl:text-center;
  }
}